{% extends 'base.html' %}

{% block content %}
<form action="/username" method="post">
    <label>
        Username 
        <input type="text" name="username" />
    </label>
</form>
<form action="/password" method="post">
    <label>
        Password
        <input type="text" name="password" />
    </label>
</form>
<form action="/verify_pass" method="post">
    <label>
        Verify Password
        <input type="text" name="verify-pass" />
    </label>
</form action="/email" method="post">
<form>
    <label>
        Email(optional)
        <input type="text" name="email" />
    </label>
</form>
<input type="submit" value="Submit" />


{% endblock %}