{% extends 'base.html' %}

{% block content %}
<h1>User Signup</h1>
<form action="/user-signup" method="post">
    <label>
        Username 
        <input type="text" name="username" />
    </label>
    <label>
        Password
        <input type="password" name="password" />
    </label>
    <label>
        Verify Password
        <input type="password" name="verify-pass" />
    </label>

    <label>
        Email(optional)
        <input type="text" name="email" />
    </label>
    <input type="submit" name="Submit" />
</form>

{% if error%}
    <p class="error">{{error}}</p>
{% endif %}
{% endblock %}